{% extends 'users/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
       <div id="seperateflightdiv">
              <h1 id="mainh1" style="font-size: 30px;">Welcome {{request.user.first_name}}</h1>

              <div>
                     <ul>
                            <li>Username: {{request.user.username}}</li>
                            <li>Email: {{request.user.email}}</li>
                     </ul>
              </div>
              <a href="{% url 'logout' %}" style="text-decoration: none;"><h1 id="mainh1" style="font-size: 20px; text-align: right; color: #5463FF;">Log Out</h1></a>
       </div>


{% endblock content %}